*{
  margin:0;
  padding:0;
 }
 
 #Titulo{
      font-family: sans-serif;
      color: #380B61;
      margin-left: 7%;
  }
  
  
 #Subtitulo{
      font-family: sans-serif;
      color: #380B61;
      margin-left: 10%;
  }
  
  
 body{
	  background-color: #FFE4E1;
	  font-family: sans-serif;
	  font-size: 1em;
	  color: #59429D;
	  margin-left: 36%;
	  margin-top: 2%;
	  justify-content: center;
  }
  
 .campo{ 
	  margin-bottom: 1em;  
  }
  
 .campo label{
	 color: #559429;
	 display: block;
 }
 
 
 .fildset.grupo.campo{
	 float: left;
     margin-right: 1em;
 }
 